[Unit]
Description=Unix-way broadcast event manager
Documentation=
After=network.target

[Service]
Type=exec
ExecStart=sh -c 'exec ev serve'
Restart=always

# Sandboxing
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateUsers=true
RestrictNamespaces=true
SystemCallArchitectures=native
SystemCallFilter=@system-service 

[Install]
WantedBy=default.target
