[Unit]
Description=Lock screen after a few minutes of inactivity at graphical session '%i'  
Documentation=man:xautolock(1)
#PartOf=xorg.target
After=graphical-session@%i.target
Requisite=graphical-session@%i.target

[Service]
Type=exec
ExecStart=sh -c 'session -s "%i" run "xautolock -time 10 -locker lock"'

# Sandboxing
; NoNewPrivileges=yes
; ProtectKernelTunables=yes
; ProtectControlGroups=yes
; RestrictNamespaces=yes
; LockPersonality=true
; MemoryDenyWriteExecute=true
; PrivateUsers=true
; RestrictNamespaces=true
; SystemCallArchitectures=native
; SystemCallFilter=@system-service 

[Install]
WantedBy=graphical-session@%i.target
