[Unit]
Description=Opend cross-jail file opening daemon at graphical session '%i' 
After=ev.service graphical-session@%i.target
Requisite=ev.service graphical-session@%i.target

[Service]
Type=exec
ExecStart=sh -c 'session -s "%i" run "opend"'
Restart=always

# Sandboxing
; NoNewPrivileges=yes
; ProtectKernelTunables=yes
; ProtectControlGroups=yes
; RestrictNamespaces=yes
; LockPersonality=true
; MemoryDenyWriteExecute=true
; PrivateUsers=true
; RestrictNamespaces=true
; SystemCallArchitectures=native
; SystemCallFilter=@system-service 

[Install]
WantedBy=graphical-session@%i.target
