[Unit]
Description=File opening daemon; used to escape `firejail`-ed apps
After=ev.service xsession@%i.target wayland-session@%i.target
Requisite=ev.service wayland-session@%i.target

[Service]
Type=exec
ExecStart=sh -c 'exec opend'
Restart=always

# Sandboxing
; NoNewPrivileges=yes
; ProtectKernelTunables=yes
; ProtectControlGroups=yes
; RestrictNamespaces=yes
; LockPersonality=true
; MemoryDenyWriteExecute=true
; PrivateUsers=true
; RestrictNamespaces=true
; SystemCallArchitectures=native
; SystemCallFilter=@system-service 

[Install]
WantedBy=wayland-session@%i.target
