[Unit]
Description=File opening daemon; used to escape `firejail`-ed apps
Documentation=
After=ev.service xsession@%i.target
Requisite=ev.service xsession@%i.target

[Service]
Type=exec
ExecStart=/usr/bin/env DISPLAY=:%i /bin/sh -c opend

# Sandboxing
; NoNewPrivileges=yes
; ProtectKernelTunables=yes
; ProtectControlGroups=yes
; RestrictNamespaces=yes
; LockPersonality=true
; MemoryDenyWriteExecute=true
; PrivateUsers=true
; RestrictNamespaces=true
; SystemCallArchitectures=native
; SystemCallFilter=@system-service 

[Install]
WantedBy=xsession@%i.target
