**/node_modules

coc/.config/coc/commands
coc/.config/coc/list-commands-history.json
coc/.config/coc/list-diagnostics-history.json
coc/.config/coc/list-extensions-history.json
coc/.config/coc/list-location-history.json
coc/.config/coc/list-symbols-history.json
coc/.config/coc/memos.json
yarn/.config/yarn/link
configstore/.config/configstore/nodemon.json
configstore/.config/configstore/update-notifier-nodemon.json
configstore/.config/configstore/update-notifier-npm.json
zsh/.config/zsh/plugins
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zhistory
coc/.config/coc/snippets-mru
cabal/.cabal/packages/hackage.haskell.org/01-index.tar1139-12.gz
cabal/.cabal/packages/hackage.haskell.org/01-index.timestamp
cabal/.cabal/packages/hackage.haskell.org/hackage-security-lock
cabal/.cabal/packages/hackage.haskell.org/mirrors1139-9.json
cabal/.cabal/packages/hackage.haskell.org/root.json
cabal/.cabal/packages/hackage.haskell.org/snapshot1139-6.json
cabal/.cabal/packages/hackage.haskell.org/timestamp1139-3.json
desktop-entries/.local/share/applications/mimeinfo.cache
htop/.config/htop/htoprc

lazygit/**/*.patch

xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o
desktop-entries/.local/share/applications/userapp-Telegram Desktop-1R5L10.desktop
desktop-entries/.local/share/applications/wine-extension-chm.desktop
desktop-entries/.local/share/applications/wine-extension-hlp.desktop
desktop-entries/.local/share/applications/wine-extension-htm.desktop
desktop-entries/.local/share/applications/wine-extension-msp.desktop
desktop-entries/.local/share/applications/wine-extension-pdf.desktop
desktop-entries/.local/share/applications/wine-extension-vbs.desktop
desktop-entries/.local/share/applications/wine-extension-xml.desktop
pepe.txt
pepe_old_rendered.txt
xmonad/.xmonad/xmonad-x86_64-linux
lazygit/.config/lazygit/state.yml

X/.Xauthority
stack/.stack/global-project
stack/.stack/pantry
stack/.stack/programs
stack/.stack/stack.sqlite3
stack/.stack/stack.sqlite3.pantry-write-lock
stack/.stack/snapshots

bin/.local/bin/xmonad
stack/.stack/setup-exe-src
stack/.stack/setup-exe-cache/*

xmonad/.xmonad/.stack-work
xmonad/.xmonad/xmonad.state
xmonad/.xmonad/xmonad
bin/.local/bin/xmobar
xmobar/.config/xmobar/dist-newstyle
newsboat/.config/newsboat/urls