[Unit]
Requisite=graphical-session@%i.target

[Socket]
# FIXME: hardcoded value
ListenStream=%t/foot-wayland-1.sock

[Install]
WantedBy=graphical-session@%i.target
