[Unit]
Description=Foot terminal server at graphical session '%i'  
Documentation=man:foot(1)
After=graphical-session@%i.target
Requisite=graphical-session@%i.target
Requires=%N.socket

[Service]
ExecStart=sh -c 'session -s "%i" run "foot --server=3"'
UnsetEnvironment=LISTEN_PID LISTEN_FDS LISTEN_FDNAMES
NonBlocking=true

[Install]
WantedBy=graphical-session@%i.target
