[Unit]
Description=SSH key agent
Documentation=man:ssh-agent(1)
;Requires=%N.socket

[Service]
Type=exec
ExecStart=sh -c 'exec ssh-agent -D -t 1d -a "${SSH_AUTH_SOCK:-"${XDG_RUNTIME_DIR:-${TMPDIR:-"/tmp"}}/ssh-agent"}"'
Restart=always

[Install]
WantedBy=default.target
