[Unit]
Description=Dunst notification daemon at graphical session '%i'
Documentation=man:dunst(1)
#PartOf=graphical-session.target
After=graphical-session@%i.target
Requisite=graphical-session@%i.target

[Service]
Type=exec
#BusName=org.freedesktop.Notifications
#ExecStart=/usr/bin/dunst
ExecStart=sh -c 'session -s "%i" run "dunst"'
; ExecStart=sh -c '/usr/bin/dunst -lb "$(cat "${XDG_CACHE_HOME:-"${HOME}/.cache"}/wal/background")" -nb "$(cat "${XDG_CACHE_HOME:-"${HOME}/.cache"}/wal/background")"'
Restart=always

# Sandboxing
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateUsers=true
RestrictNamespaces=true
SystemCallArchitectures=native
SystemCallFilter=@system-service 

[Install]
WantedBy=graphical-session@%i.target
