[Unit]
Description=Eww Statusbar at graphical session '%i'
Documentation=https://github.com/nativerv/dotfiles
After=eww@%i.service
#PartOf=eww@%i.service
Requisite=eww@%i.service

[Service]
Type=exec
ExecStart=sh -c 'session -s "%i" run "eww open statusbar"'
ExecStop=sh -c 'session -s "%i" run "eww close statusbar; sleep 1"'

# Sandboxing
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateUsers=true
RestrictNamespaces=true
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=eww@%i.service
