[Unit]
Description=ElKowar Widgets daemon at graphical session '%i'
Documentation=https://github.com/elkowar/eww
After=graphical-session@%i.target
Requisite=graphical-session@%i.target

[Service]
Type=exec
ExecStart=sh -c 'session -s "%i" run "eww daemon --no-daemonize"'
Nice=-10

# Prevent swapping
MemorySwapMax=0

# Sandboxing
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateUsers=true
RestrictNamespaces=true
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=graphical-session@%i.target
