[Unit]
Description=Provides settings to X11 applications
Documentation=man:xsettingsd(1)
#PartOf=xsession@%i.target
After=xsession@%i.target
Requisite=xsession@%i.target

[Service]
Type=exec
ExecStart=/usr/bin/xsettingsd
Restart="on-abort"

# Sandboxing
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateUsers=true
RestrictNamespaces=true
SystemCallArchitectures=native
SystemCallFilter=@system-service 

[Install]
WantedBy=xsession@%i.target
